div {
	text-align: center;
}

h2 {
	text-align: center;
}

text {
    font:16px sans-serif;
    stroke-width: 1px;
    stroke: black;
}

#chart-7-1 text {
    font: 10px sans-serif;
    stroke-width: 1px;
    stroke: black;
}

#chart-7-2 text {
    font: 10px sans-serif;
    stroke-width: 1px;
    stroke: black;
}

input.t_chart { margin-left: 10px; }


.bar {

  fill: steelblue;
}

.bar:hover {
  fill: green;
}

.axis {
  font: 15px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.node {
  font: 300 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: firebrick;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #d62728;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source {
  stroke: #d62728;
}

.link--target {
  stroke: #2ca02c;
}

